
img  {
    
    width: 300px;
}

.hunt {

    width: 300px;
    background: linear-gradient(to left, black, blue);
}

.ark {

    width: 300px;
    background: linear-gradient(to right, black, orange);
}

.oracion {

    width: 300px;
    background: linear-gradient(to bottom, red, black);
}

#contenedor {

    position: static;
    top: 50px;
    column-count: 3;
    display: flex;
    flex-direction: column;
    
}

p {
    color: white;
}